/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap');

/* GLOBAL */
*{
    margin: 0;
    font-family: 'Heebo', sans-serif;
}
div.doubleline{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 350px;
    height: 5px;
}

/* RECEIPT IMG*/
img.receipt{
    transform: rotate(90deg);
    position: relative;
    right: 155px;
}

/* HEADER */
h1{
    position: relative;
    bottom: 380px;
    left: 120px;
}
header div.doubleline{
    position: relative;
    bottom: 380px;
    left: 20px;
}

/* MAIN */
div.top-container{
    position: relative;
    bottom: 380px;
    left: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.content{
    position: relative;
    bottom: 340px;
    left: 20px;
    width: 340px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* FOOTER */
footer div{
    position: relative;
    bottom: 320px;
    left: 20px;
}
footer div.flex-container{
    width: 340px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
